In [1]:
import os
os.chdir('../quafing/')
print(f"Working directory: {os.getcwd()}")


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter


plt.rcParams.update(plt.rcParamsDefault)
plt.rcParams.update({"font.size" : 15, 
                     "figure.dpi" : 100, 
                     "legend.fontsize" : 13, 
                     "grid.alpha" : 0.3, 
                     "axes.grid": True, 
                     "axes.axisbelow" : True, 
                     "figure.figsize":(6, 5)})

Working directory: /Users/charlesdupont/Desktop/Thesis/code/quafing

In [2]:
def load_data(path):
    """
    Loads .dta file using provided path.
    """
    return pd.read_stata(path, convert_categoricals=False)


def plot_missing_prop(df):
    """
    Plots bar graph to visualize proportion of missing entries for each column of provided df.
    """
    missing_prop = {}
    L = len(df)
    for col in df.columns:
        missing_prop[col] = df[col].isna().sum()/L
    ordered_keys = sorted(missing_prop.keys(), key=lambda x: missing_prop[x], reverse=True)
    plt.figure(figsize=(10, 4))
    plt.bar(np.arange(len(missing_prop)), [missing_prop[k] for k in ordered_keys], color="dodgerblue")
    plt.xticks(np.arange(len(missing_prop)), ordered_keys, rotation=90)
    plt.ylabel("Proportion Missing")
    plt.show()
    
    
def plot_categorical_feature_frequency(df, col, sort=True, xlabel=None, xticks_dict={}, 
                                       save=False, save_filename=None):
    freq = Counter(df[col])
    freq = {k:v for k,v in freq.items() if not np.isnan(k)}
    L = len(freq)
    if sort:
        ordered_keys = sorted(freq.keys(), key=lambda x: freq[x], reverse=True)
    else:
        ordered_keys = sorted(freq.keys(), key=lambda x: x)
    plt.figure(figsize=(12,4))
    plt.bar(np.arange(L), [freq[k] for k in ordered_keys], color="dodgerblue", alpha=0.8)
    if xticks_dict:
        plt.xticks(np.arange(L), [xticks_dict[k] for k in ordered_keys], rotation=90)
    else:
        plt.xticks(np.arange(L), ordered_keys, rotation=90)
    plt.ylabel("Frequency")
    if xlabel:
        plt.xlabel(xlabel, labelpad=20)
    else:
        plt.xlabel(col, labelpad=20)
        
    if save:
        plt.savefig(save_filename)
        
    plt.show()

In [3]:
DATA_DIR = "../../BCCASII/"

# Community

In [4]:
DATA_SUBDIR = "Community/"

## Module A: Location identification and details

## Module E: Major Income Earning Opportunities for the Villagers

In [53]:
filename = "001_com_mod_a.dta"
path = DATA_DIR + DATA_SUBDIR + filename
df = load_data(path)
df

,sl,a01,a02,a03,a04,a05,a06,a07,a08,a09,...,e19,e21,e22,e23,e24,e25,e26,e27,e28,e29
0,1,NaN,1,1,1,7,4,4.0,5.0,NaN,...,NaN,1,2,5.0,10.0,6.0,NaN,NaN,NaN,NaN
1,2,NaN,2,2,2,7,2,2.0,4.0,2.0,...,NaN,1,5,9.0,8.0,4.0,10.0,NaN,NaN,NaN
2,3,NaN,3,3,3,7,3,4.0,4.0,NaN,...,NaN,1,10,5.0,5.0,6.0,9.0,NaN,NaN,NaN
3,4,NaN,4,4,4,3,1,3.0,5.0,4.0,...,NaN,1,11,11.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,5,5,5,6,3,1.0,5.0,4.0,...,NaN,1,10,8.0,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,6,6,5,6,1,3.0,1.0,4.0,...,NaN,1,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,7,7,6,4,2,4.0,3.0,NaN,...,NaN,1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,8,8,6,3,1,3.0,4.0,NaN,...,NaN,1,6,7.0,3.0,4.0,NaN,NaN,NaN,NaN
8,9,NaN,9,9,7,7,3,3.0,4.0,NaN,...,NaN,1,11,10.0,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,10,10,8,7,1,2.0,4.0,3.0,...,NaN,1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,11,11,9,7,2,4.0,3.0,4.0,...,NaN,1,10,8.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,12,12,10,4,4,4.0,1.0,3.0,...,NaN,1,8,9.0,2.0,11.0,5.0,NaN,NaN,NaN
12,13,NaN,13,13,11,5,4,2.0,4.0,NaN,...,NaN,1,4,5.0,3.0,9.0,11.0,NaN,NaN,NaN
13,14,NaN,14,14,11,3,2,4.0,3.0,5.0,...,NaN,1,5,4.0,2.0,3.0,8.0,9.0,NaN,NaN
14,15,NaN,15,14,11,5,1,3.0,5.0,3.0,...,NaN,1,2,4.0,5.0,9.0,NaN,NaN,NaN,NaN
15,16,NaN,16,15,12,3,1,3.0,4.0,4.0,...,NaN,1,4,3.0,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,17,16,13,5,1,6.0,NaN,NaN,...,NaN,1,6,2.0,4.0,NaN,NaN,NaN,NaN,NaN
17,18,NaN,18,17,14,3,4,2.0,4.0,4.0,...,NaN,1,2,4.0,8.0,NaN,NaN,NaN,NaN,NaN
18,19,NaN,19,18,15,5,3,1.0,5.0,4.0,...,NaN,1,3,2.0,4.0,9.0,11.0,NaN,NaN,NaN
19,20,NaN,20,19,16,3,2,NaN,NaN,NaN,...,9.0,1,2,3.0,4.0,5.0,8.0,7.0,6.0,9.0
20,21,NaN,21,20,17,2,2,4.0,NaN,NaN,...,5.0,1,10,8.0,9.0,4.0,6.0,3.0,2.0,5.0
21,22,NaN,22,21,17,7,4,5.0,4.0,4.0,...,8.0,4,1,10.0,2.0,3.0,5.0,7.0,9.0,8.0
22,23,NaN,23,22,18,3,2,4.0,4.0,4.0,...,6.0,1,3,2.0,7.0,8.0,4.0,5.0,9.0,6.0
23,24,NaN,24,23,19,3,3,2.0,NaN,NaN,...,9.0,10,4,1.0,2.0,3.0,7.0,8.0,5.0,9.0
24,25,NaN,25,24,20,3,2,3.0,NaN,NaN,...,NaN,1,2,3.0,NaN,NaN,NaN,NaN,NaN,NaN
25,26,NaN,26,25,21,1,4,4.0,3.0,NaN,...,NaN,1,1,8.0,NaN,NaN,NaN,NaN,NaN,NaN
26,27,NaN,27,26,22,1,3,2.0,NaN,4.0,...,NaN,1,2,3.0,NaN,NaN,NaN,NaN,NaN,NaN
27,28,NaN,28,27,23,2,2,4.0,NaN,NaN,...,NaN,1,5,2.0,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,29,28,23,1,4,3.0,NaN,NaN,...,NaN,1,2,10.0,4.0,NaN,NaN,NaN,NaN,NaN
29,30,NaN,30,29,24,2,3,4.0,2.0,NaN,...,NaN,1,2,5.0,4.0,NaN,NaN,NaN,NaN,NaN
30,31,NaN,31,30,25,3,1,4.0,1.0,5.0,...,NaN,1,2,4.0,8.0,9.0,3.0,10.0,NaN,NaN
31,32,NaN,32,31,26,3,3,4.0,NaN,NaN,...,NaN,1,8,4.0,2.0,NaN,NaN,NaN,NaN,NaN
32,33,NaN,33,32,27,3,3,2.0,NaN,NaN,...,NaN,1,2,3.0,NaN,NaN,NaN,NaN,NaN,NaN
33,34,NaN,34,33,28,1,1,5.0,4.0,4.0,...,NaN,1,2,3.0,9.0,8.0,4.0,11.0,NaN,NaN
34,35,NaN,35,34,29,6,2,1.0,NaN,NaN,...,NaN,10,1,7.0,4.0,NaN,NaN,NaN,NaN,NaN
35,36,NaN,36,35,29,4,4,3.0,2.0,NaN,...,NaN,1,10,8.0,7.0,NaN,NaN,NaN,NaN,NaN
36,37,NaN,37,36,30,2,3,4.0,NaN,NaN,...,NaN,1,7,5.0,3.0,4.0,8.0,NaN,NaN,NaN
37,38,NaN,38,37,30,6,3,4.0,5.0,NaN,...,NaN,1,10,7.0,8.0,NaN,NaN,NaN,NaN,NaN
38,39,NaN,39,38,30,2,4,5.0,NaN,NaN,...,NaN,1,7,4.0,12.0,NaN,NaN,NaN,NaN,NaN
39,40,NaN,40,39,31,6,4,3.0,1.0,NaN,...,NaN,1,10,7.0,4.0,NaN,NaN,NaN,NaN,NaN

In [55]:
communities = set()
for index, row in df.iterrows():
    communities.add((row["a02"], row["a03"], row["a04"]))

In [60]:
communities

{(1, 1, 1),
 (2, 2, 2),
 (3, 3, 3),
 (4, 4, 4),
 (5, 5, 5),
 (6, 6, 5),
 (7, 7, 6),
 (8, 8, 6),
 (9, 9, 7),
 (10, 10, 8),
 (11, 11, 9),
 (12, 12, 10),
 (13, 13, 11),
 (14, 14, 11),
 (15, 14, 11),
 (16, 15, 12),
 (17, 16, 13),
 (18, 17, 14),
 (19, 18, 15),
 (20, 19, 16),
 (21, 20, 17),
 (22, 21, 17),
 (23, 22, 18),
 (24, 23, 19),
 (25, 24, 20),
 (26, 25, 21),
 (27, 26, 22),
 (28, 27, 23),
 (29, 28, 23),
 (30, 29, 24),
 (31, 30, 25),
 (32, 31, 26),
 (33, 32, 27),
 (34, 33, 28),
 (35, 34, 29),
 (36, 35, 29),
 (37, 36, 30),
 (38, 37, 30),
 (39, 38, 30),
 (40, 39, 31)}

## Module B1: Factor prices

In [17]:
filename = "002_com_mod_b_ag.dta"
path = DATA_DIR + DATA_SUBDIR + filename
df = load_data(path)
df

,sl,tasks,b101,b102,b103,b104,b105,b106,b107,b108,b109,b110,b111,b112,b113,b114,b115,b116
0,1,1,250,100,250,100,999,999,999,999,150,100,150,100,999,999,999,999
1,1,2,400,0,400,0,999,999,999,999,999,999,999,999,999,999,999,999
2,1,3,999,999,999,999,999,999,999,999,999,999,999,999,999,999,999,999
3,1,4,250,150,250,100,999,999,999,999,150,100,150,100,999,999,999,999
4,1,5,250,100,250,100,999,999,999,999,150,100,150,100,999,999,999,999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,40,6,200,0,200,0,999,999,999,999,200,0,200,0,999,999,999,999
396,40,7,200,0,200,0,999,999,999,999,200,0,200,0,999,999,999,999
397,40,8,200,0,200,0,999,999,999,999,200,0,200,0,999,999,999,999
398,40,9,200,0,200,0,999,999,999,999,200,0,200,0,999,999,999,999
399,40,10,300,0,300,0,999,999,999,999,300,0,300,0,999,999,999,999

## Module B2: Non-agriculture: Wages of hired labors employed in construction work

In [34]:
filename = "003_com_mod_b_nonag.dta"
path = DATA_DIR + DATA_SUBDIR + filename
df = load_data(path)
df

     sl  work  b201  b202  b205  b206  b209  b210  b213  b214
0    28    11   300     0   999   999   999   999   250     0
1    28    12   280     0   150     0   999   999   200     0
2    28    13   200    50   120    50   999   999   150    50
3     1    12   400     0   999   999   300     0   999   999
4     1    13   150   100   100   100   100   100    50    80
..   ..   ...   ...   ...   ...   ...   ...   ...   ...   ...
115  39    12   200     0   999   999   200     0   999   999
116  39    13   100   100   999   999   100   100    60    60
117  40    11   250     0   999   999   250     0   999   999
118  40    12   350     0   999   999   300     0   999   999
119  40    13   100   100   999   999    80   100    50    60

[120 rows x 10 columns]

## Module C: Characteristics of the village

In [37]:
filename = "004_com_mod_c.dta"
path = DATA_DIR + DATA_SUBDIR + filename
df = load_data(path)
df

      sl  qid  c01   c02
0      1    2    2   3.0
1      1    3    1   NaN
2      1    4    1   NaN
3      1    8    1   NaN
4      1   10    1   NaN
...   ..  ...  ...   ...
1035  40   20    2   2.0
1036  40   23    2   8.0
1037  40   24    2   2.0
1038  40   25    2   8.0
1039  40   26    2  54.0

[1040 rows x 4 columns]

## Module D: Natural disasters in past 5 years in community

In [39]:
filename = "005_com_mod_d.dta"
path = DATA_DIR + DATA_SUBDIR + filename
df = load_data(path)
df

     sl  qid  d01  d02
0     1    1    1  2.0
1     1    2    1  2.0
2     1    3    1  3.0
3     1    4    1  4.0
4     1    5    1  5.0
..   ..  ...  ...  ...
355  40    5    2  NaN
356  40    6    2  NaN
357  40    7    2  NaN
358  40    8    2  NaN
359  40    9    2  NaN

[360 rows x 4 columns]

## Module F: Group information

In [51]:
filename = "006_com_mod_e.dta"
path = DATA_DIR + DATA_SUBDIR + filename
df = load_data(path)
df

,sl,group,code,f01,f02,f03_1,f03_2,f03_3,f04,f05_1,f05_2,f05_3
0,1,1,1,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,2,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,3,1,Masjid committee,13.0,NaN,NaN,1.0,1.0,NaN,NaN
3,1,1,4,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,5,1,"ASA, BRAC",3.0,4.0,NaN,1.0,2.0,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,40,1,14,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716,40,1,15,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,40,1,16,1,,3.0,NaN,NaN,1.0,1.0,NaN,NaN
718,40,1,17,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,40,1,18,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df.groupby("sl").count()

    group  code  f01  f02  f03_1  f03_2  f03_3  f04  f05_1  f05_2  f05_3
sl
1      18    18   18   18      6      4      1    6      6      2      0
2      18    18   18   18      6      4      0    6      4      2      1
3      18    18   18   18      4      0      0    4      3      1      0
4      18    18   18   18      4      3      2    4      3      2      0
5      18    18   18   18      2      0      0    2      1      1      1
6      18    18   18   18      3      1      0    3      3      1      0
7      18    18   18   18      3      3      1    3      2      1      1
8      18    18   18   18      4      0      0    4      4      0      0
9      18    18   18   18      4      3      1    4      4      2      0
10     18    18   18   18      3      1      0    2      2      1      0
11     18    18   18   18      3      0      0    3      2      1      1
12     18    18   18   18      9      8      0    9      8      2      0
13     18    18   18   18      9      5      2    9      7      0      0
14     18    18   18   18     11      8      0   11      8      0      0
15     18    18   18   18      9      7      2    9      8      0      0
16     18    18   18   18      3      3      3    3      3      2      1
17     18    18   18   18      5      1      1    5      5      0      0
18     18    18   18   18      9      8      2    9      7      3      0
19     18    18   18   18      9      8      3    9      8      2      0
20     18    18   18   18      7      5      2    7      6      1      0
21     18    18   18   18      6      4      0    6      5      2      0
22     18    18   18   18      6      3      1    6      6      2      0
23     18    18   18   18      4      1      0    3      2      1      0
24     18    18   18   18      4      3      1    4      4      1      0
25     18    18   18   18      5      1      1    5      1      0      0
26     18    18   18   18      5      1      0    5      4      0      0
27     18    18   18   18      6      3      1    6      3      0      0
28     18    18   18   18      5      2      1    5      2      0      0
29     18    18   18   18      7      5      1    7      6      2      0
30     18    18   18   18      6      1      1    6      3      0      0
31     18    18   18   18      9      6      1    9      5      0      0
32     18    18   18   18      7      2      1    7      4      0      0
33     18    18   18   18      5      2      1    5      2      0      0
34     18    18   18   18      9      8      2    9      8      1      0
35     18    18   18   18      7      1      0    7      7      0      0
36     18    18   18   18      7      0      0    7      7      0      0
37     18    18   18   18      5      0      0    5      3      0      0
38     18    18   18   18      5      2      0    5      5      0      0
39     18    18   18   18      7      2      1    6      6      0      0
40     18    18   18   18      5      0      0    5      5      0      0